<main>
  <h1>{{article.title}}</h1>
  <ul>
    {{#each article.tags as |tag|}}
      <li>
        {{tag.name}}
      </li>
    {{/each}}
  </ul>
  <button type="button" onclick={{action "saveTagsToArticle" article}}>
    Save
  </button>
</main>

<h2>Add Tags</h2>
<ul>
  {{#each tags as |tag|}}
    <li>
      {{tag.name}}
      <button type="button" onclick={{action "addTag" article tag}}>Add</button>
    </li>
  {{/each}}
</ul>

<h2>Add Author</h2>
<button type="button" onclick={{action "addAuthor" article}}>Add Author 1</button>
